table td{
    vertical-align: middle!important;
}
.img-td{
    width: 20%!important;
}
.cart{
    min-height: 100vh!important;
}


@media screen and (max-width: 767px){
    .img-td{
        width: 35%!important;
    }
}
@media screen and (max-width: 575px){
    .img-td{
        min-width: 35vw!important;
    }
    .productName{
        font-size: 1rem!important;
    }
}