.service-card{
    border-radius: 38% 0 38% 0;
    height:100%!important;
    text-align: center!important;
}
.service-card:hover{
    background-color: #fafffd;
    cursor: pointer;
    box-shadow: 8px 8px 15px lightgray, -8px -8px 15px lightgray;
}
.service-logo{
    width: 26%!important;
}

.service-card:hover {
    border: none;
    background: linear-gradient(135deg, #02a2f8 0%, #28f29c 100%);
    color:white;
    cursor: pointer;
}


@media screen and (max-width:991px){
    .service-logo{
        width: 35%!important;
    }
}
@media screen and (max-width:767px){
    .service-logo{
        width: 42%!important;
    }
}
@media screen and (max-width:575px){
    .service-logo{
        width: 48%!important;
    }
}
@media screen and (max-width:400px){
    .service-logo{
        width: 48%!important;
    }
}