.service-card{
    border-radius: 40% 0 40% 0;
    height:100%!important;
    text-align: center!important;
}
.service-card:hover{
    background-color: #fafffd;
    cursor: pointer;
    box-shadow: 8px 8px 15px lightgray, -8px -8px 15px lightgray;
}
.service-logo{
    width: 40%!important;
}

@media screen and (max-width:991px){
    .service-logo{
        width: 50%!important;
    }
}
@media screen and (max-width:767px){
    .service-logo{
        width: 60%!important;
    }
}
@media screen and (max-width:575px){
    .service-logo{
        width: 70%!important;
    }
}
@media screen and (max-width:400px){
    .service-logo{
        width: 80%!important;
    }
}