.background{
    position: relative;
    z-index: 99999!important;
}
.tsparticles-canvas-el{
    position: fixed!important;
    top:0;
    left:0;
    background-color: black;
    z-index: -999999!important;
}
.dp{
     width: 30%;
     margin-top: 4rem!important;
}


@media screen and (max-width:575px){
    .dp{
        width: 40%;
   }
}
@media screen and (max-width:360px){
    .dp{
        width: 60%;
   }
}