ol li{
    width:20px!important;
    border-radius: 16px;
    padding: 1px;
    background-color: orange!important;
    cursor:default!important;
}
ol{
    margin-bottom: 0px;
}
.carousel-item img{
    width: 38%;
}

@media screen and (max-width:992px){
    .carousel-item img{
        width: 45%;
    }
}
@media screen and (max-width:768px){
    .carousel-item img{
        width: 52%;
    }
}

@media screen and (max-width:576px){
    .carousel-item img{
        width: 62%;
    }
}
