.card {
  border: none !important;
}
.card-footer {
  border: none;
  background-color: #fff !important;
  color: black !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.collection-card:hover {
  transform: scale(1.3) !important;
  border-radius: 20px !important;
  cursor: pointer;
}
a:hover {
  text-decoration: none !important;
}
